# Dependencies
node_modules

# Build output
dist

# Environment files
.env
.env.local
.env.*.local
sudarshan-backend/.env

# IDE
.vscode
.idea
*.swp
*.swo

# OS files
desktop.ini
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
